.sidebar {
  width: 220px;
  background-color: #ff7b00 !important; /* laranja GoTrack */
  color: white;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: 0.3s;
}

.sidebar a:hover {
  opacity: 0.85;
  transform: translateX(5px);
}

.icon {
  margin-right: 10px;
  font-size: 18px;
}
